<div class="mat-elevation-z8 data-grid">
  <mat-form-field>
    <input (keyup)="applyFilter($event.target.value)" matInput placeholder="Search...">
  </mat-form-field>
  <mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
      <mat-cell *matCellDef="let record"> {{record?.id}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="employee_name">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Employee Name </mat-header-cell>
      <mat-cell *matCellDef="let record"> {{record?.employee_name}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="employee_salary">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Employee Salary </mat-header-cell>
      <mat-cell *matCellDef="let record"> {{record?.employee_salary}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="employee_age">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Employee Age </mat-header-cell>
      <mat-cell *matCellDef="let record"> {{record?.employee_age}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="profile_image">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Profile Image Y/N </mat-header-cell>
      <mat-cell *matCellDef="let record"> {{record?.profile_image > '' ? 'Yes' : 'No'}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
